{% comment %}
  A unique ID is generated to scope the Hyperscript logic, ensuring
  this component's interactivity doesn't clash with others on the page.
{% endcomment %}
{% assign faqId = "faq" | uuidFilter | replace: "-", "" %}
{% assign color_group = styles.color_group | default: "primary" %}

<div class="c-faq componentcontainer bg-{{color_group}}-backgroundcolor text-{{color_group}}-textcolor">
  <section
    class="waiting{{faqId}} basecontainer w-full"
    {% if content.sectionId %}
      {% bookshop "util/IdScrollEvent" sectionId: content.sectionId %}
    {% endif %}
    _="
      on loaded
        if $isFocused{{faqId}} is 0
          add .border-{{styles.color_group}}-accentcolor to the first <button/> in .category-buttons{{faqId}}
        end
    "
  >
    {% if content.heading %}
      {% bookshop {{content.heading._bookshop_name}} bind: content.heading %}
    {% endif %}

    {% if content.categories %}
      {% comment %} Category Filter Buttons {% endcomment %}
      <div class="category-buttons{{faqId}} mt-12 flex flex-wrap justify-center gap-4  py-6">
        {% for category in content.categories %}
          {% assign category_slug = category.name | slugify %}
          <button
            id="{{category_slug}}"
            class="faq-category-btn{{faqId}} rounded-lg border px-5 py-2 font-bold uppercase transition-all duration-300 hover:bg-{{color_group}}-accentcolor/10 hover:border-{{color_group}}-accentcolor"
            _="on click or focus
                remove .active from .faq-category-btn{{faqId}}
                remove .border-{{styles.color_group}}-accentcolor from .faq-category-btn{{faqId}}
                add .border-{{styles.color_group}}-accentcolor to me

                add .hidden to .faq-group
                remove .hidden from .{{category_slug}}

                set $isFocused{{faqId}} to 1"
          >
            {{ category.name }}
          </button>
        {% endfor %}
      </div>

      {% comment %}
        This empty div is a helper for Hyperscript to correctly
        target and show the first FAQ group on initial load.
      {% endcomment %}
      <div
        class="waiting{{faqId}}"
        _="on loaded if $isFocused{{faqId}} is 0 remove .hidden from the next <ul/>"
      ></div>

      {% comment %} FAQ Accordion Groups {% endcomment %}
      <div class="relative mt-12 text-{{styles.card_color_group}}-highcontrast-{{styles.colorFromGroup}}color">
        {% for category in content.categories %}
          {% assign category_slug = category.name | slugify %}
          <ul class="faq-group {{ category_slug }} flex flex-col gap-4 {% if forloop.first == false %}hidden{% endif %}">
            {% for item in category.faq %}
              <li class="px-6 pb-6 border border-opacity-20  bg-{{styles.card_color_group}}-{{styles.colorFromGroup}}color border-{{color_group}}-textcolor faq-item rounded-xl  shadow-sm transition-all"
                  >
                  <button class="pt-6 w-full flex items-center justify-between border-opacity-50 border-b border-{{color_group}}-textcolor"
                  {% if opened %}
                  aria-expanded="true"
                  {% else %}
                  aria-expanded="false"
                  {% endif %}
                  _="
                        on click
                          set content to the next <div/>
                          set @aria-expanded to ( @aria-expanded == 'false' )
                          set *height of content to (content's scrollHeight * ( @aria-expanded == 'true' )) + 'px'
                          toggle .rotate-45 on <span/> in me
                        end
                  ">
                    <div class="text-lg font-semibold">{{ item.heading }}</div>
                    <span class="transition-all duration-300 ease-in-out">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus h-5 w-5 flex-shrink-0 transition-transform duration-300 group-[.active]:rotate-45">
                          <path d="M5 12h14"/>
                          <path d="M12 5v14"/>
                      </svg>
                    </span>
                  </button>
                  <div class="h-0 overflow-hidden transition-all duration-500 ease-in-out opacity-90">
                    {% bookshop "generic/textBlock" text: item.description %}
                  </div>
              </li>
            {% endfor %}
          </ul>
        {% endfor %}
      </div>
    {% endif %}
  </section>
</div>


<script defer type="text/hyperscript">
  on load
    if $isFocused{{faqId}} is not 1
      set $isFocused{{faqId}} to 0
      send loaded to .waiting{{faqId}}
    end
</script>
